/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Font size for large devices */
    /* @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    } */

     /*========== Colors ==========*/
     --color-primary: #2E266F;
     --color-secondary: #FE043C;
     --color-grey: #707070;
     --color-white: #FFFFFF;
     --backgroud-color: #FFF5EC;
     --backgroud-secondary-color: #FFEDDE;



}

/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--backgroud-color);
    min-width: 100vw;
    min-height: 100vh;
    font-family: var(--body-font);
    color: var(--color-primary);
}
/*==================== Reuse ====================*/
.section {
    padding: 20px 140px;
}



/*==================== Navbar ====================*/

.header {
    height: 150px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__logo {
    color: var(--color-secondary);
    font-size: 72px;
    font-weight: bold;
    line-height: 108px;
    font-style: normal;
}

.nav__menu {
    display: flex;
    margin-left: -500px;
}

.nav__menu-item {
    padding: 20px;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    
}

.nav__user-setting {
    display: flex;
    cursor: pointer;
}

.nav__user-setting__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.nav__user-setting__avatar:hover {
    opacity: 0.7;
}

.user__icon {
    font-size: 30px;
    color: var(--color-primary);
}

.icon__online {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 45px;
    right: 195px;
    background-color: #31A24C;
    border-radius: 50%;
}

.nav__user-setting__username {
    display: flex;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
    margin-left: 9px;
}

.user__text {
    font-size: 16px;
    line-height: 24px;
    
}

.icon__down {
    font-size: 25px;    
}

/*==================== HOME ====================-->*/

.home {
    height: 1100px;
}

.sidebar-backgroud {
    position: absolute;
    width: 514px;
    height: 1210px;
    background-color: var(--color-secondary);
    top: 0;
    right: 0;
    z-index: -200;
}

.home__container {

}

.home__showcase {
    display: flex;
    height: 650px;
    
}



.home__food-container {
    margin-right: 38px;
}

.home__food-title {
    color: var(--color-primary);
    font-weight: 900;
    font-size: 200px;
    line-height: 300px;
    opacity: 0.05;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: -15px;
}

.home__food-subtitle {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
    display: flex;
    align-items: center;
    margin-top: -75px;
}

.home__food-search {
    background-color: var(--color-white);
    height: 90px;
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__food-input {
    margin-left: 50px;
    margin-top: 36px;
    margin-bottom: 36px;
    border: none;
    font-size: 18px;
    line-height: 90px;
    color: var(--color-primary);
    
}
.home__food-input:focus-visible {
    border: none;
    outline-color: transparent;
    
}

.home__food-input::placeholder {
    color: var(--color-primary);
    opacity: 0.6;
}

.home__food-submit {
    cursor: pointer;
    width: 200px;
    height: 72px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 90px;
    color: var(--color-white);
    margin: 9px;
    border-radius: 60px 0px 0px 0px;
    transition: .3s;
}

.home__food-submit:hover {
    opacity: 0.8;
}

.home__img-food-container {
    margin-left: 38px;
}

.img-home__food {
    z-index: 50;
}

.img-home__vegetable {
    z-index: -1;
    top: -25px;
    width: 584px;
    height: 900px;
    left: 1125px;
    position: absolute;
}

.img-home__dot-vector-top {
    position:absolute;
    z-index: -1;
    left: 955px;
}

.img-home__dot-vector-bottom {
    position:absolute;
    z-index: -1;
    top: 560px;
    left: 955px;
}

.slider__container {
    display: flex;
    float: right;

}

.arrow-left,
.arrow-right {
    color: var(--color-white);
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-text {
    font-size: 45px;
}

.text-left {
    margin-left: -25px;
    padding-bottom: 7px;
}

.text-right {
    margin-right: -25px;
    padding-bottom: 7px;
}

.icon__circle {
    width: 45px;
    height: 45px;
    border: 3px solid #FFF;
    border-radius: 50%;
}

.location {
    cursor: pointer;
    position: absolute;
    display: flex;
    left: 0px;
    width: 280px;
    height: 65px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: 0px 100px 100px 0px;
    font-size: 30px;
    transition: .3s;
}

.location:hover {
    opacity: 0.7;
}

.location__icon {

}

.location__title {
    padding-left: 20px;
}

.top-restaurant {
    
    padding-right: 340px;
    height: 1200px;
}

.topic__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__container {
    display: flex;
    align-items: center;
}

.title__header-image {
    background-color: var(--color-secondary);
    width: 25px;
    height: 140px;
    margin-right: 30px;
}

.title__text {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-transform: capitalize;
    margin-right: 149px;
}

.topic__description {
    width: 609px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-grey);
}

.menu-slide__container {
    margin-top: 75px;
}

.vector-bg-left__container {
    position: absolute;
    left: 20px;
}

.vector-left__img {
    width: 320px;
    height: 50px;
}

.menu-slide-card__container {
    position: absolute;
    left: 0px;
    margin-top: 80px;
    display: flex;
    align-items: center; 
}

.card__panel {
    width: 640px;
    height: 640px;
    border-radius: 20px;
}

.bg-pizza__img {
    background-image: url('../img/bg-pizza.png');
    background-repeat: no-repeat;
}

.bg-burgur__img {
    background-image:  url('../img/bg-burgur.png');
    background-repeat: no-repeat;
}

.panel-right {
    margin-left: 40px;
}

.bg-card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.card-panel__body {
    height: 275px;
    background: rgba(254, 4, 60, 0.7);
    border-radius: 0px 0px 20px 20px;
    color: var(--color-white);
    padding: 40px 0px 40px 60px;
}

.card-panel__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
}

.card-panel__description {
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    width: 390px;
}

.location-and-booking__container {
    display: flex;
    justify-content: space-between;
    
}

.card-location {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.card-location__icon {
    width: 20px;
    height: 25px;
    margin-right: 10px;
}

.card-location__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.booking-button {
    height: 60px;
    width: 210px;
    background: var(--color-white);
    border-radius: 100px 0px 0px 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 16px;
}

.vactor-bg__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vector-right__img {
    position: absolute;
    width: 320px;
    height: 50px;
    top: 410px;
    left: 1165px;
    transform: rotate(-90deg);
    z-index: -500;
}

.vector-bottom__img {
    width: 320px;
    height: 50px;
    z-index: -500;
    position: absolute;
    top: 620px;
    left: 1030px;
    /* margin-left: -250px; */
}

.see-more__container {
    margin-left: 100px
}

.see-more-icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.see-more__line {
    width: 72px;
    height: 0px;
    border: 3px solid var(--color-secondary);
}


.icon__circle-alt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__icon {
    color: var(--color-white);
    font-size: 25px;
}

.see-more__text {
    margin-top: 26px;
    color: var(--color-secondary);
    float: right;
    margin-right: -15px;
    cursor: pointer;
}


/* ==================== Booking Section ==================== */

.booking-section {
    background-color: var(--backgroud-secondary-color);
    min-height: 1090px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advance-booking__container {
    background-color: var(--color-white);
    min-height: 560px;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 513px;
    padding-right: 326px;
    margin-left: -20px;
}

.advance-booking__before-title {
    width: 230px;
    height: 15px;
    background-color: var(--color-secondary);
    margin-bottom: 30px;
}

.advacne-booking__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    color: var(--color-primary);
    margin-bottom: 60px;
}

.search-restrutent__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.search-restrutent__input {
    margin-left: 40px;
    margin-top: 38px;
    margin-bottom: 37px;
    margin-right: 221px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary); 
}

.search-restrutent__input::placeholder {
    color: var(--color-primary);
    opacity: 0.6;
}

.search-restrutent__input:focus-visible {
    border: none;
    outline-color: transparent;
    
}

.search-restrutent__submit {
    cursor: pointer;
    width: 128px;
    height: 62px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 90px;
    color: var(--color-white);
    margin: 9px;
    border: none;
    transition: .3s;
}

.search-restrutent__submit:hover {
    opacity: 0.8;
}

.time-booking__container {
    display: flex;
}

.time-booking-input__container {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.time-booking__label {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.time-booking__input {
    height: 27px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-primary); 
}

.time-booking__input::placeholder {
    color: var(--color-primary);
    opacity: 0.6;
}

.time-booking__input:focus-visible {
    border: none;
    outline-color: transparent;
    
}

.time-booking__icon {
    transform: rotate(180deg);
    margin-bottom: -5px;
    margin-left: 4px;
    color: var(--color-secondary);
    

}

.advance-booking__img-left {
    position: absolute;
    left: 0px;
    top: 2165px;
    z-index: 5;
    overflow: hidden;
}

.advance-booking__img-right{
    position: absolute;
    right: 0px;
}

/* ==================== Our Section ==================== */

.our-service-secition {
    padding-top: 150px;
}

.our-service-title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.our-service-title__img {
    width: 25px;
    height: 140px;
    background: var(--color-secondary);
    margin-right: 30px;
}



.our-service__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    width: 320px;
    margin-right: 250px;
}

.our-service__description {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-grey);
    width: 609px;
}

.our-service-menu__backgroud {
    height: 980px;
    margin-top: 150px;
    background-image:  url('../img/dot-backgroud.png');
    background-repeat: no-repeat;
}

.our-service-menu__container {
    height: 900px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-service-menu__left {
    display: flex;
    flex-direction: column;
}

.our-service-booking__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-img__container {
    background-color: var(--backgroud-secondary-color);
    width: 390px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-booking__icon {
    margin-left: -25px;
}

.advance-table-booking__container {
    margin-top: 40px;
    margin-left: 6px;
}

.advance-table-booking__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    width: 209px;
    margin-bottom: 20px;
}

.advance-table-booking__sub-title {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-grey);
    width: 199px;
}

.advance-table-booking__line-arrow {
    position: relative;
    width: 84px;
    height: 3px;
    top: -38px;
    right: -105px;
    background: var(--color-secondary);
}