/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Font size for large devices */
    /* @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    } */

     /*========== Colors ==========*/
     --color-primary: #2E266F;
     --color-secondary: #FE043C;
     --color-grey: #707070;
     --color-white: #FFFFFF;
     --body-color: #FFEDDE;
     --backgroud-color: #FFF5EC;



}

/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--backgroud-color);
    min-width: 100vw;
    min-height: 100vh;
    font-family: var(--body-font);
    color: var(--color-primary);
}
/*==================== Reuse ====================*/
.section {
    padding: 20px 140px;
}



/*==================== Navbar ====================*/

.header {
    height: 150px;
    padding: 20px 140px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__logo {
    color: var(--color-secondary);
    font-size: 72px;
    font-weight: bold;
    line-height: 108px;
    font-style: normal;
}

.nav__menu {
    display: flex;
    margin-left: -500px;
}

.nav__menu-item {
    padding: 20px;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    
}

.nav__user-setting {
    display: flex;
}

.nav__user-setting__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.user__icon {
    font-size: 30px;
    color: var(--color-primary);
}

.icon__online {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 45px;
    right: 125px;
    background-color: #31A24C;
    border-radius: 50%;
}

.nav__user-setting__username {
    display: flex;
}

/*==================== HOME ====================-->*/

.home {

}

.sidebar-backgroud {
    position: absolute;
    width: 514px;
    height: 1210px;
    background-color: var(--color-secondary);
    top: 0;
    right: 0;
    z-index: -200;
}

.home__container {

}

.home__showcase {
    display: flex;
    height: 650px;
    
}



.home__food-container {
    margin-right: 38px;
}

.home__food-title {
    color: var(--color-primary);
    font-weight: 900;
    font-size: 200px;
    line-height: 300px;
    opacity: 0.05;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: -15px;
}

.home__food-subtitle {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
    display: flex;
    align-items: center;
    margin-top: -75px;
}

.home__food-search {
    background-color: var(--color-white);
    height: 90px;
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__food-input {
    margin-left: 50px;
    margin-top: 36px;
    margin-bottom: 36px;
    border: none;
    font-size: 18px;
    line-height: 90px;
    color: var(--color-primary);
    
}
.home__food-input:focus-visible {
    border: none;
    outline-color: transparent;
    
}

.home__food-input::placeholder {
    color: var(--color-primary);
    opacity: 0.6;
}

.home__food-submit {
    width: 200px;
    height: 72px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 90px;
    color: var(--color-white);
    margin: 9px;
    border-radius: 60px 0px 0px 0px;
}

.home__img-food-container {
    margin-left: 38px;
}

.img-home__food {
    z-index: 50;
}

.img-home__vegetable {
    z-index: -1;
    top: -25px;
    width: 584px;
    height: 900px;
    left: 1125px;
    position: absolute;
}

.img-home__dot-vector-top {
    position:absolute;
    z-index: -1;
    left: 955px;
}

.img-home__dot-vector-bottom {
    position:absolute;
    z-index: -1;
    top: 560px;
    left: 955px;
}

.location {
    position: absolute;
    display: flex;
    left: 0px;
    width: 280px;
    height: 65px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: 0px 100px 100px 0px;
    font-size: 30px;
}

.location__icon {

}

.location__title {
    padding-left: 20px;
}


